@charset "utf-8";
/* CSS Document */

#Content{background:url(Images/SubPageBreaker.png) 271px 0px;background-repeat:repeat-y;margin-top:15px;padding-top:0px;padding-bottom:15px;}
#LeftZone{width:258px;float:left;padding-right:15px;}
	#LeftZone h1{font-family:Androgyne, Georgia, "Times New Roman", Times, serif;font-size:24px;line-height:30px;}
	#LeftZone ul{}
		#LeftZone ul li{padding-left:5px;background:url(Images/DarkGreenArrow.png) 0px 8px;background-repeat:no-repeat;margin-bottom:2px;}
		#LeftZone ul li.selected,
		#LeftZone ul li:hover{background:url(Images/SubNavHover.jpg) 0px 0px;background-repeat:no-repeat;}
			#LeftZone ul li a{font:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;line-height:32px;width:242;display:block;padding-left:13px;}
			#LeftZone ul li a:hover{color:#fff;text-decoration:none;}
#RightZone{width:610px;float:left;padding-top:10px;}
#RightZone ul li{font-family:Verdana, Geneva, sans-serif;font-size:12px;line-height:20px;padding-left:10px;background:url(Images/GreenBullet.png) 0px 8px;background-repeat:no-repeat;}
#RightZone ul ul li{padding-left:30px;background:url(Images/GreyBullet.png) 20px 8px;background-repeat:no-repeat;color:#666;}

.selected{background:url(Images/TopNavHoverNo.png) top center;}
.employees{overflow:hidden;margin-top:15px;width:290px;clear:none;float:left;margin-right:15px;}
span.employeeAttribute{float:left;display:block;font-weight:bold;font-family:Verdana, Geneva, sans-serif;font-size:11px;margin-bottom:5px;width:300px;}
.employees span{float:left;display:block;clear:both;font-weight:bold;font-family:Verdana, Geneva, sans-serif;font-size:11px;margin-bottom:5px;}
.info{float:left;width:150px;}
.salesTeam{overflow:hidden;}
.salesTeam h4{margin-bottom:0px;}
.InTheField{overflow:hidden;margin-top:20px;}
.InTheField .employees{overflow:hidden;margin-top:15px;width:500px;margin-top:10px;}
.InTheField .employees span{color:#666;clear:none;margin-left:15px;}
.InTheField .employees h6{display:block;float:left;}
.testimonialWrapper{border-bottom:1px solid #666;margin-bottom:10px;}
.testimonials{color:#006600;font-family:Georgia, "Times New Roman", Times, serif; font-style:italic;font-weight:bold;margin-bottom:0px;font-size:14px;}
.testimonialName{color:#666;text-align:right;font-family:Georgia, "Times New Roman", Times, serif; font-weight:bold;}
span.userinfo{clear:both;float:left;}
span.userinfo input{margin-top:3px;}
span.contactinfo{clear:both;float:left;}
span.checkbox{float:left;}
span.checkboxinfo{}
div.checkbox{clear:both;float:left;}
div.block{width:200px;float:left;margin-bottom:8px;}
div.checkboxblock{clear:both;float:left;margin-top:10px;margin-bottom:10px;}



